# Node.js dependencies
node_modules/

# Environment variables
.env

# Next.js build output
.next/

# Logs
*.log

# Temporary files
*.tmp
*.cache

# Editor-specific files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db
